flask
flask-cors
firebase-admin
google-cloud-firestore
google-cloud-storage
ultralytics
opencv-python-headless
deepface
# CPU PyTorch (ok for Cloud Run)
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
pandas
